<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.32.2" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.32.2" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.32.2" targetFramework="net45" />
  <package id="Google.Apis.Drive.v3" version="1.32.2.1184" targetFramework="net45" />
  <package id="Google.Apis.Sheets.v4" version="1.32.2.1190" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.7.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net45" />
</packages>